Q1. What is a database? Differentiate between SQL and NoSQL databases.

Ans:

A database is a collection of data that is organized in a way that allows for efficient storage, retrieval, and management of the data. Databases are used to store large amounts of data that can be accessed, updated, and managed by multiple users.

Difference between SQL and NoSQL: 

1. Data Model: SQL databases use a fixed schema, which means that the structure of the data is predefined and all data has to fit into this structure. NoSQL databases, on the other hand, use a flexible schema, which means that the data structure can be changed as needed.


2. Query Language: SQL databases use SQL to retrieve and manipulate data. NoSQL databases have their own query languages, which are often less powerful than SQL, but are more flexible and easier to use.

3. Scalability: SQL databases are vertically scalable, which means that they can only be scaled up by adding more hardware resources to the server. NoSQL databases are horizontally scalable, which means that they can be scaled out by adding more servers to the database cluster.


4. Data Consistency: SQL databases offer strong data consistency, which means that data is always consistent across all nodes in the database. NoSQL databases often sacrifice data consistency in favor of scalability and performance.


5. Data Storage: SQL databases are usually used for structured data that fits neatly into tables. NoSQL databases are often used for unstructured or semi-structured data, such as JSON documents or key-value pairs.

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

Ans:

DDL stands for Data Definition Language, which is a subset of SQL used to create, modify, and delete database structures and schema. DDL commands are used to define the structure of database objects like tables, views, indexes, and procedures.


Commonly used DDL commands in SQL:

1. CREATE: It is used to create a new table or other database objects such as views, procedures, and indexes. For example, to create a table named "Employees" with columns such as ID, Name, and Salary, the following SQL statement can be used:


CREATE TABLE Employees (
   ID INT PRIMARY KEY,
   Name VARCHAR(50),
   Salary DECIMAL(10, 2)
);

2. DROP: 
It is used to delete an existing table or other database objects such as views, procedures, and indexes. For example, to drop the table named "Employees," the following SQL statement can be used:
DROP TABLE Employees;

3.ALTER: 
It is used to modify the structure of an existing table or other database objects. For example, to add a new column named "Age" to the "Employees" table, the following SQL statement can be used:

ALTER TABLE Employees ADD Age INT;

4.TRUNCATE: 
It is used to delete all the data from an existing table. Unlike the DROP command, TRUNCATE preserves the structure of the table. For example, to delete all the data from the "Employees" table, the following SQL statement can be used:

TRUNCATE TABLE Employees;

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

Ans:

DML stands for Data Manipulation Language, which is a subset of SQL used to manipulate data within the database. DML commands are used to insert, update, and delete data from database tables.
Commonly used DML commands in SQL:

1. INSERT: It is used to insert new data into a table. For example, to insert a new record into a table named "Employees" with values for columns such as ID, Name, and Salary, the following SQL statement can be used:

INSERT INTO Employees (ID, Name, Salary) VALUES (1, 'John', 50000);

2.UPDATE: It is used to modify the existing data in a table. For example, to update the salary of an employee with ID 1 in the "Employees" table to 60000, the following SQL statement can be used:

UPDATE Employees SET Salary = 60000 WHERE ID = 1;

3.DELETE: It is used to delete data from a table. For example, to delete an employee record with ID 1 from the "Employees" table, the following SQL statement can be used:

DELETE FROM Employees WHERE ID = 1;

Q4. What is DQL? Explain SELECT with an example.

Ans: 
    DQL stands for Data Query Language, which is a subset of SQL used to retrieve data from the database. DQL commands are used to query, search, and retrieve data from the tables of the database.
    
The most commonly used DQL command in SQL is SELECT.

Assume we have a table "Employees" with columns such as ID, Name, Age, and Salary, containing the data.To retrieve all the data from the "Employees" table, the following SELECT statement can be used:

SELECT * FROM Employees;

In [ ]:
Q5. Explain Primary Key and Foreign Key.

Ans:
A primary key is a column or a set of columns in a table that uniquely identifies each row of the table. It is used to enforce the integrity of the data and ensure that each row in the table is uniquely identified. A primary key cannot contain null values, and its value must be unique for each row. Typically, a primary key is created when a table is first created, and it is used as a reference point for other tables.

For example, in a table named "Employees", the primary key may be the "ID" column, which contains unique values for each employee. This ensures that each row in the "Employees" table is uniquely identified by its ID, and that no two employees have the same ID.


A foreign key, on the other hand, is a column or a set of columns in a table that refers to the primary key of another table. It is used to establish relationships between tables and enforce referential integrity. A foreign key can have null values, which indicates that there is no corresponding record in the referenced table.

For example, in a table named "Orders", a foreign key may be the "EmployeeID" column, which refers to the "ID" column in the "Employees" table. This establishes a relationship between the "Orders" table and the "Employees" table, and ensures that each order is associated with a specific employee.

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

Ans:
python code to connect mySQL server:
    
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="username",
  password="password",
  database="database_name"
)

mycursor = mydb.cursor()

The cursor() method creates a cursor object that is used to interact with the database. The cursor object allows us to execute SQL queries, fetch data from the database, and perform other database operations.

The execute() method is used to execute an SQL query on the database. We can pass the SQL query as a parameter to the execute() method, and it will execute the query on the database.

Q7. Give the order of execution of SQL clauses in an SQL query.

Ans: In general, the clauses are executed in the order listed below:

1. FROM: This clause specifies the table or tables from which the data will be retrieved.
2. JOIN: If the query includes a join operation, the JOIN clause is executed next to combine the data from multiple tables.
3. WHERE: This clause is used to filter the data based on a specified condition. It is executed after the FROM and JOIN clauses, but before the SELECT clause.
4. GROUP BY: This clause is used to group the data based on a specified column or set of columns. It is executed after the WHERE clause, but before the SELECT clause.
5. HAVING: If the query includes a GROUP BY clause, the HAVING clause is used to filter the data based on a specified condition. It is executed after the GROUP BY clause, but before the SELECT clause.
6. SELECT: This clause is used to select the columns that will be included in the query result. It is executed after all the preceding clauses.
7. DISTINCT: If the query includes a DISTINCT clause, it is executed next to remove any duplicate rows from the query result.
8. ORDER BY: This clause is used to sort the query result based on a specified column or set of columns. It is executed after all the preceding clauses.
9. LIMIT: If the query includes a LIMIT clause, it is executed last to limit the number of rows returned in the query result.