Q1. What is MongoDB? Explain non-relational databases in short. In which scenarios it is preferred to use MongoDB over SQL databases?

Ans:

MongoDB is an open source NoSQL database management program.

A non-relational database is a database that does not use the tabular schema of rows and columns found in most traditional database systems. Instead, non-relational databases use a storage model that is optimized for the specific requirements of the type of data being stored.

MongoDB are a good choice when your data is document-centric and doesn't fit well into the schema of a relational database.

Q2. State and Explain the features of MongoDB.

Features of MongoDB –
 
1. Schema-less Database: A Schema-less database means one collection can hold different types of documents in it. Or in other words, in the MongoDB database, a single collection can hold multiple documents and these documents may consist of the different numbers of fields, content, and size. It is not necessary that the one document is similar to another document like in the relational databases. Due to this cool feature, MongoDB provides great flexibility to databases.

2. Document Oriented: In MongoDB, all the data stored in the documents instead of tables like in RDBMS. In these documents, the data is stored in fields(key-value pair) instead of rows and columns which make the data much more flexible in comparison to RDBMS. And each document contains its unique object id.

3. Indexing: In MongoDB database, every field in the documents is indexed with primary and secondary indices this makes easier and takes less time to get or search data from the pool of the data. If the data is not indexed, then database search each document with the specified query which takes lots of time and not so efficient.

4. Scalability: MongoDB provides horizontal scalability with the help of sharding. Sharding means to distribute data on multiple servers, here a large amount of data is partitioned into data chunks using the shard key, and these data chunks are evenly distributed across shards that reside across many physical servers. It will also add new machines to a running database.

5. Replication: MongoDB provides high availability and redundancy with the help of replication, it creates multiple copies of the data and sends these copies to a different server so that if one server fails, then the data is retrieved from another server.

6. Aggregation: It allows to perform operations on the grouped data and get a single result or computed result. It is similar to the SQL GROUPBY clause. It provides three different aggregations i.e, aggregation pipeline, map-reduce function, and single-purpose aggregation methods

7. High Performance: The performance of MongoDB is very high and data persistence as compared to another database due to its features like scalability, indexing, replication, etc.

In [2]:
pip install pymongo

Collecting pymongo
  Downloading pymongo-4.3.3-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (492 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 492.9/492.9 kB 16.9 MB/s eta 0:00:00
Collecting dnspython<3.0.0,>=1.16.0
  Downloading dnspython-2.3.0-py3-none-any.whl (283 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 283.7/283.7 kB 38.2 MB/s eta 0:00:00
Installing collected packages: dnspython, pymongo
Successfully installed dnspython-2.3.0 pymongo-4.3.3
Note: you may need to restart the kernel to use updated packages.

Q3. Write a code to connect MongoDB to Python. Also, create a database and a collection in MongoDB.

In [49]:
#code to connect mongoDB to python
import pymongo
client = pymongo.MongoClient("mongodb+srv://Rajat:rajat1@cluster0.ewtdcry.mongodb.net/?retryWrites=true&w=majority")
db = client.test

#Create a database and a collection in MongoDB from jupiter Notebook
client = pymongo.MongoClient("mongodb+srv://Rajat:rajat1@cluster0.ewtdcry.mongodb.net/?retryWrites=true&w=majority")
db = client ["pwskills"]
coll_create = db["my_record"]

Q4. Using the database and the collection created in question number 3, write a code to insert one record,
and insert many records. Use the find() and find_one() methods to print the inserted record.

In [50]:
#inserting one record
data = { "name" :"rajat",
        "class" : "Data Science",
        "timing" : "evening"
       }
coll_create.insert_one(data)

In [59]:
#inserting many records
data2 = [
{"name": "rajat","Add" : "Himachal pradesh", "age" : 10},
{"name": "ashish","Add" : "delhi","age" : 12},
{"name": "niraj","Add" : "mumbai","age" : 14}]

coll_create.insert_many(data2)

In [52]:
#example of find
for i in coll_create.find():
    print (i)

{'_id': ObjectId('63f585ce169eeba3a6eea7a8'), 'name': 'rajat', 'class': 'Data Science', 'timing': 'evening'}
{'_id': ObjectId('63f58665169eeba3a6eea7a9'), 'mail_id ': 'rajat@gmail.com', 'phone_number': 423232}
{'_id': ObjectId('63f5872d169eeba3a6eea7aa'), 'list_course': ['data science', ' web dev', ' java'], 'mentor': ['rajat', 'Fury']}
{'_id': ObjectId('63f588dab4b3b692f5160cb5'), 'name': 'rajat', 'class': 'Data Science', 'timing': 'evening'}
{'_id': ObjectId('63f58920b4b3b692f5160cb8'), 'name': 'rajat', 'class': 'Data Science', 'timing': 'evening'}
{'_id': ObjectId('63f589e8b4b3b692f5160cb9'), 'name': 'rajat', 'Add': 'Himachal pradesh'}
{'_id': ObjectId('63f589e8b4b3b692f5160cba'), 'name': 'rajat', 'Add': 'Himachal pradesh'}
{'_id': ObjectId('63f589e8b4b3b692f5160cbb'), 'name': 'rajat', 'Add': 'Himachal pradesh'}
{'_id': ObjectId('63f58a22b4b3b692f5160cbc'), 'name': 'rajat', 'Add': 'Himachal pradesh'}
{'_id': ObjectId('63f58a22b4b3b692f5160cbd'), 'name': 'ashish', 'Add': 'delhi'}
{'_id': ObjectId('63f58a22b4b3b692f5160cbe'), 'name': 'niraj', 'Add': 'mumbai'}
{'_id': ObjectId('63f592a7b4b3b692f5160cbf'), 'name': 'rajat', 'Add': 'Himachal pradesh', 'age': 10}
{'_id': ObjectId('63f592a7b4b3b692f5160cc0'), 'name': 'ashish', 'Add': 'delhi', 'age': 12}
{'_id': ObjectId('63f592a7b4b3b692f5160cc1'), 'name': 'niraj', 'Add': 'mumbai', 'age': 14}
{'_id': ObjectId('63f592afb4b3b692f5160cc4'), 'name': 'rajat', 'class': 'Data Science', 'timing': 'evening'}
{'_id': ObjectId('63f592b2b4b3b692f5160cc5'), 'name': 'rajat', 'Add': 'Himachal pradesh', 'age': 10}
{'_id': ObjectId('63f592b2b4b3b692f5160cc6'), 'name': 'ashish', 'Add': 'delhi', 'age': 12}
{'_id': ObjectId('63f592b2b4b3b692f5160cc7'), 'name': 'niraj', 'Add': 'mumbai', 'age': 14}
{'_id': ObjectId('63f59303b4b3b692f5160cca'), 'name': 'rajat', 'class': 'Data Science', 'timing': 'evening'}
{'_id': ObjectId('63f59304b4b3b692f5160ccb'), 'name': 'rajat', 'Add': 'Himachal pradesh', 'age': 10}
{'_id': ObjectId('63f59304b4b3b692f5160ccc'), 'name': 'ashish', 'Add': 'delhi', 'age': 12}
{'_id': ObjectId('63f59304b4b3b692f5160ccd'), 'name': 'niraj', 'Add': 'mumbai', 'age': 14}

In [44]:
#example of find_one
coll_create.find_one()

{'_id': ObjectId('63f585ce169eeba3a6eea7a8'),
 'name': 'rajat',
 'class': 'Data Science',
 'timing': 'evening'}

Q5. Explain how you can use the find() method to query the MongoDB database. Write a simple code to
demonstrate this.

Ans:
find() method is used to select documents in a collection and return a cursor to the selected documents.

In [53]:
#Example
for i in coll_create.find({"name": "niraj"}):
    print (i)

{'_id': ObjectId('63f58a22b4b3b692f5160cbe'), 'name': 'niraj', 'Add': 'mumbai'}
{'_id': ObjectId('63f592a7b4b3b692f5160cc1'), 'name': 'niraj', 'Add': 'mumbai', 'age': 14}
{'_id': ObjectId('63f592b2b4b3b692f5160cc7'), 'name': 'niraj', 'Add': 'mumbai', 'age': 14}
{'_id': ObjectId('63f59304b4b3b692f5160ccd'), 'name': 'niraj', 'Add': 'mumbai', 'age': 14}

Q6. Explain the sort() method. Give an example to demonstrate sorting in MongoDB.

The sort() method specifies the order in which the query returns the matching documents from the given collection. You must apply this method to the cursor before retrieving any documents from the database.

Syntax:

db.Collection_Name.sort({filed_name:1 or -1})

Q7. Explain why delete_one(), delete_many(), and drop() is used.

Ans:
The deleteOne() method deletes the first document from the collection that matches the given selection criteria. It will delete/remove a single document from the collection.

Delete_many() is used when one needs to delete more than one document. A query object containing which document to be deleted is created and is passed as the first parameter to the delete_many()


db.collection.drop() method is used to drop a collection from a database. It completely removes a collection from the database and does not leave any indexes associated with the dropped collections.
The db.collection.drop() method does not take any argument and produce an error when it is called with an argument. This method removes all the indexes associated with the dropped collection.