Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [2]:
import pandas as pd
data = [4, 8, 15, 16, 23, 42]
series = pd.Series(data)
print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the 
variable print it.

In [3]:
import pandas as pd
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
my_series = pd.Series(my_list)
print(my_series)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

Q3. Create a Pandas DataFrame that contains the following data:
(check assignment pdf for dataframe)
Then, print the DataFrame.

In [16]:
import pandas as pd
data = {'Name': ['Alice', 'Bob', 'Claire'],
        'Age': [25, 30, 27],
        'Gender': ['Female', 'Male', 'Female']}
df = pd.DataFrame(data)
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

A Series is a one-dimensional array-like object that can hold any data type such as integers, floats, strings, and so on. Each element in the series has a unique index. We can think of a Series as a single column of data, with each row represented by its index.

A DataFrame, on the other hand, is a two-dimensional tabular data structure with labeled axes (rows and columns). It can be thought of as a collection of Series, where each Series represents a column of data. In other words, a DataFrame is a table with rows and columns, similar to an Excel spreadsheet or a SQL table.

Example:

In [19]:
import pandas as pd
# Creating a Series
my_series = pd.Series([10, 20, 30, 40, 50])
# Creating a DataFrame
data = {'Name': ['Alice', 'Bob', 'Clarie'],
        'Age': [25, 30, 35],
        'Country': ['USA', 'Canada', 'Australia']}
df = pd.DataFrame(data)
# Printing the Series and the DataFrame
print(my_series)

print(df)

0    10
1    20
2    30
3    40
4    50
dtype: int64
     Name  Age    Country
0   Alice   25        USA
1     Bob   30     Canada
2  Clarie   35  Australia

As we can see, the my_series object is a one-dimensional array-like object with five elements and an index column that starts from 0. On the other hand, the df object is a two-dimensional tabular data structure with five rows and three columns, each with a label ('Name', 'Age', and 'Country').

Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can 
you give an example of when you might use one of these functions?

Ans:

Pandas provides a wide range of functions to manipulate data in a DataFrame. Here are some of the most common ones:

1. head() and tail(): These functions are used to show the first and last n rows of a DataFrame. For example, df.head(10) will show the first 10 rows of the DataFrame df.

2. describe(): This function generates descriptive statistics of the DataFrame, such as mean, standard deviation, minimum, maximum, and quartile values. For example, df.describe() will show the statistical summary of the DataFrame df.

3. sort_values(): This function is used to sort the DataFrame by one or more columns. For example, df.sort_values('Age') will sort the DataFrame df by the Age column in ascending order.

4. groupby(): This function is used to group the DataFrame by one or more columns and perform aggregation functions on the groups. For example, df.groupby('Country')['Age'].mean() will group the DataFrame df by the Country column and calculate the mean age for each country.

5. drop(): This function is used to remove rows or columns from the DataFrame. For example, df.drop(['Country'], axis=1) will remove the Country column from the DataFrame df.

6. apply(): This function is used to apply a function to each element or row/column of the DataFrame. For example, df['Age'].apply(lambda x: x + 5) will add 5 to each element in the Age column of the DataFrame df

In [21]:
#Example
import pandas as pd
data = {'Name': ['Alice', 'Bob', 'Claire'],
        'Age': [25, 30, 27],
        'Gender': ['Female', 'Male', 'Female']}
df = pd.DataFrame(data)
print(df)
print(df.head(2))

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female
    Name  Age  Gender
0  Alice   25  Female
1    Bob   30    Male

In [22]:
#Example
import pandas as pd
# Creating a DataFrame
data = {'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva'],
        'Age': [25, 30, 35, 40, 45],
        'Grade': [80, 90, None, 70, None]}
df = pd.DataFrame(data)
# Filling missing grades with the mean grade
mean_grade = df['Grade'].mean()
df['Grade'].fillna(mean_grade, inplace=True)
# Printing the updated DataFrame
print(df)

      Name  Age  Grade
0    Alice   25   80.0
1      Bob   30   90.0
2  Charlie   35   80.0
3    David   40   70.0
4      Eva   45   80.0

Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

Ans:

Series and DataFrame are mutable in nature, while Panel is immutable.

In other words, the values in Series and DataFrame can be changed or modified after they have been created. On the other hand, the values in Panel cannot be changed once they are created. Instead, a new Panel object must be created with the desired changes. However, it's worth noting that Panel is deprecated in recent versions of Pandas and is no longer recommended for use.

Q7. Create a DataFrame using multiple Series. Explain with an example.

Ans:
We can create a Pandas DataFrame by combining multiple Pandas Series. Here's an example:

In [24]:
import pandas as pd
# Creating a Series of student names
names = pd.Series(['Alice', 'Bob', 'Charlie', 'David', 'Eva'])
# Creating a Series of student ages
ages = pd.Series([25, 30, 35, 40, 45])
# Creating a Series of student grades
grades = pd.Series([80, 90, 85, 70, 95])
# Combining the Series into a DataFrame
data = {'Name': names, 'Age': ages, 'Grade': grades}
df = pd.DataFrame(data)
# Printing the DataFrame
print(df)

      Name  Age  Grade
0    Alice   25     80
1      Bob   30     90
2  Charlie   35     85
3    David   40     70
4      Eva   45     95