Q1. List any five functions of the pandas library with execution.

1. read_csv(): This function is used to read CSV (Comma Separated Values) files into a pandas DataFrame object. Here's an example of how to use it:

In [7]:
import pandas as pd
df = pd.read_csv('data.csv')
print(df.head())

   rank         name channel_Info                  Category Posts Followers  \
0     1    instagram        brand               photography  7.3K    580.1M
1     2    cristiano         male  Health, Sports & Fitness  3.4K    519.9M
2     3     leomessi         male  Health, Sports & Fitness    1K    403.7M
3     4  kyliejenner       female             entertainment    7K    375.9M
4     5  selenagomez       female             entertainment  1.8K    365.3M

  Avg. Likes Eng Rate
0      7.31K     0.1%
1      3.41K     1.4%
2      0.97K     1.7%
3      7.02K     1.7%
4      1.85K     1.1%

2. groupby(): This function is used to group rows of a DataFrame by one or more columns and perform an aggregate function on each group. Here's an example of how to use it:

In [16]:
import pandas as pd
df = pd.read_csv('data.csv')
grouped_data = df.groupby(['rank', 'Category'])['Followers'].sum()
print(grouped_data.head())

rank  Category
1     photography                 580.1M
2     Health, Sports & Fitness    519.9M
3     Health, Sports & Fitness    403.7M
4     entertainment               375.9M
5     entertainment               365.3M
Name: Followers, dtype: object

3. dropna(): This function is used to remove rows or columns from a DataFrame that contain missing values (NaN). Here's an example of how to use it:

In [17]:
import pandas as pd
df = pd.read_csv('data.csv')
df = df.dropna()
print(df.head())

   rank         name channel_Info                  Category Posts Followers  \
0     1    instagram        brand               photography  7.3K    580.1M
1     2    cristiano         male  Health, Sports & Fitness  3.4K    519.9M
2     3     leomessi         male  Health, Sports & Fitness    1K    403.7M
3     4  kyliejenner       female             entertainment    7K    375.9M
4     5  selenagomez       female             entertainment  1.8K    365.3M

  Avg. Likes Eng Rate
0      7.31K     0.1%
1      3.41K     1.4%
2      0.97K     1.7%
3      7.02K     1.7%
4      1.85K     1.1%

4. merge(): This function is used to merge two or more DataFrames based on a common column.

5. pivot_table(): This function is used to create a spreadsheet-style pivot table as a DataFrame. Here's an example of how to use it:

In [99]:
import pandas as pd
import numpy as np
df = pd.read_csv('data.csv')
table = pd.pivot_table(df, values ='name', index =['channel_Info', 'Followers'],columns =['Category'], aggfunc = np.sum)
print(table)

Category               Beauty & Makeup Craft/DIY Health, Sports & Fitness  \
channel_Info Followers
brand        220.6M                NaN       NaN                      NaN
             257.6M                NaN       NaN                     nike
             35.8M                 NaN       NaN                      NaN
             36.4M                 NaN       NaN                      NaN
             38.5M                 NaN       NaN                      NaN
...                                ...       ...                      ...
male         80.2M                 NaN       NaN                      NaN
             84.9M                 NaN       NaN                      NaN
             87.2M                 NaN       NaN                 k.mbappe
             91.6M                 NaN       NaN                      NaN
             99.9M                 NaN       NaN          championsleague

Category               Lifestyle News & Politics entertainment fashion food  \
channel_Info Followers
brand        220.6M          NaN             NaN        natgeo     NaN  NaN
             257.6M          NaN             NaN           NaN     NaN  NaN
             35.8M           NaN             NaN        disney     NaN  NaN
             36.4M           NaN             NaN           NaN     NaN  NaN
             38.5M           NaN             NaN           NaN      hm  NaN
...                          ...             ...           ...     ...  ...
male         80.2M           NaN             NaN       khaby00     NaN  NaN
             84.9M           NaN             NaN     vindiesel     NaN  NaN
             87.2M           NaN             NaN           NaN     NaN  NaN
             91.6M           NaN             NaN     gal_gadot     NaN  NaN
             99.9M           NaN             NaN           NaN     NaN  NaN

Category               photography    technology
channel_Info Followers
brand        220.6M            NaN           NaN
             257.6M            NaN           NaN
             35.8M             NaN           NaN
             36.4M             NaN  mercedesbenz
             38.5M             NaN           NaN
...                            ...           ...
male         80.2M             NaN           NaN
             84.9M             NaN           NaN
             87.2M             NaN           NaN
             91.6M             NaN           NaN
             99.9M             NaN           NaN

[182 rows x 10 columns]

Q2. Given a Pandas DataFrame df with columns 'A', 'B', and 'C', write a Python function to re-index the 
DataFrame with a new index that starts from 1 and increments by 2 for each row.

In [39]:
import pandas as pd
def reindex_dataframe(df):
    new_index = range(1, 2*len(df)+1, 2)
    df.index = new_index
    return df
df = pd.DataFrame({'A': [1, 2, 3, 4], 'B': [5, 6, 7, 8], 'C': [9, 10, 11, 12]})
print("Original DataFrame:")
print(df)
df = reindex_dataframe(df)
print("Reindexed DataFrame:")
print(df)

Original DataFrame:
   A  B   C
0  1  5   9
1  2  6  10
2  3  7  11
3  4  8  12
Reindexed DataFrame:
   A  B   C
1  1  5   9
3  2  6  10
5  3  7  11
7  4  8  12

Q3. You have a Pandas DataFrame df with a column named 'Values'. Write a Python function that 
iterates over the DataFrame and calculates the sum of the first three values in the 'Values' column. The 
function should print the sum to the console.

In [43]:
import pandas as pd
def calculate_sum(df):
    values = df['Values'][:3]
    total = sum(values)
    print("Sum of the first three values in the 'Values' column:", total)
df = pd.DataFrame({'Values': [1, 2, 3, 4, 5]})
calculate_sum(df)

Sum of the first three values in the 'Values' column: 6

Q4. Given a Pandas DataFrame df with a column 'Text', write a Python function to create a new column 
'Word_Count' that contains the number of words in each row of the 'Text' column.

In [46]:
import pandas as pd
def add_word_count_column(df):
    df['Word_Count'] = df['Text'].apply(lambda x: len(str(x).split()))
    return df
df = pd.DataFrame({'Text': ['hi! my name is Rajat', 'Welcome to my github accounts ', 'Follow for more programs']})
print("Original DataFrame:")
print(df)
df = add_word_count_column(df)
print('\n\n')
print("New DataFrame:")
print(df)

Original DataFrame:
                             Text
0            hi! my name is Rajat
1  Welcome to my github accounts
2        Follow for more programs



New DataFrame:
                             Text  Word_Count
0            hi! my name is Rajat           5
1  Welcome to my github accounts            5
2        Follow for more programs           4

Q5. How are DataFrame.size() and DataFrame.shape() different?

DataFrame.size returns the total number of elements in a DataFrame, which is equal to the product of the number of rows and the number of columns.

On the other hand, DataFrame.shape returns a tuple that contains the number of rows and the number of columns in a DataFrame. This method does not take any arguments and returns a tuple of two integer values.

Here are examples:

In [47]:
#Dataframe.size()
import pandas as pd
df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]})
size = df.size
print("Size of the DataFrame:", size)

Size of the DataFrame: 6

In [55]:
#DataFrame shape
import pandas as pd
df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]})
shape = df.shape
print("Shape of the DataFrame:", shape)

Shape of the DataFrame: (3, 2)

Q6. Which function of pandas do we use to read an excel file?

Ans:

In pandas, we use the read_excel() function to read an Excel file. This function is used to read data from an Excel file and create a pandas DataFrame. The read_excel() function is part of the pandas library and is used to read Excel files in different formats, including XLS and XLSX.

Q7. You have a Pandas DataFrame df that contains a column named 'Email' that contains email 
addresses in the format 'username@domain.com'. Write a Python function that creates a new column 
'Username' in df that contains only the username part of each email address.

In [54]:
import pandas as pd
def extract_username(df):    
    df['Username'] = df['Email'].apply(lambda x: x.split('@')[0])    
    return df

df = pd.DataFrame({'Email': ['rajatkanwar@gmail.com', 'kanwarrajat@gmail.com', 'furyworld@gmail.com']})
df = extract_username(df) 
print(df)

                   Email     Username
0  rajatkanwar@gmail.com  rajatkanwar
1  kanwarrajat@gmail.com  kanwarrajat
2    furyworld@gmail.com    furyworld

Q8. You have a Pandas DataFrame df with columns 'A', 'B', and 'C'. Write a Python function that selects 
all rows where the value in column 'A' is greater than 5 and the value in column 'B' is less than 10. The 
function should return a new DataFrame that contains only the selected rows.

In [59]:
import pandas as pd
def select_rows(df):
    selected_rows = df.loc[(df['A'] > 5) & (df['B'] < 10)]    
    return selected_rows


df = pd.DataFrame({'A': [3, 8, 6, 2,9], 'B': [5, 2, 9, 3,1], 'C': [1, 7, 4, 5,2]})
selected_rows = select_rows(df)
print(selected_rows)

   A  B  C
1  8  2  7
2  6  9  4
4  9  1  2

Q9. Given a Pandas DataFrame df with a column 'Values', write a Python function to calculate the mean, 
median, and standard deviation of the values in the 'Values' column.

In [61]:
import pandas as pd
df = pd.DataFrame({'Values': [1, 2, 4, 8,16,32]})
mean = df['Values'].mean()
median = df['Values'].median()
std_dev = df['Values'].std()
print("Mean:", mean)
print("Median:", median)
print("Standard deviation:", std_dev)

Mean: 10.5
Median: 6.0
Standard deviation: 11.861703081766969

Q10. Given a Pandas DataFrame df with a column 'Sales' and a column 'Date', write a Python function to 
create a new column 'MovingAverage' that contains the moving average of the sales for the past 7 days 
for each row in the DataFrame. The moving average should be calculated using a window of size 7 and 
should include the current day.

In [66]:
#Ans:
    
import pandas as pd
def calculate_moving_average(df):    
    df.set_index('Date', inplace=True)
    ma = df['Sales'].rolling(window=7, min_periods=1).mean()
    df['MovingAverage'] = ma    
    df.reset_index(inplace=True)
    return df
df = pd.DataFrame({'Date': pd.date_range('2023-02-24', periods=14), 'Sales': [5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70]})
df = calculate_moving_average(df)
print(df)

         Date  Sales  MovingAverage
0  2023-02-24      5            5.0
1  2023-02-25     10            7.5
2  2023-02-26     15           10.0
3  2023-02-27     20           12.5
4  2023-02-28     25           15.0
5  2023-03-01     30           17.5
6  2023-03-02     35           20.0
7  2023-03-03     40           25.0
8  2023-03-04     45           30.0
9  2023-03-05     50           35.0
10 2023-03-06     55           40.0
11 2023-03-07     60           45.0
12 2023-03-08     65           50.0
13 2023-03-09     70           55.0

Q11. You have a Pandas DataFrame df with a column 'Date'. Write a Python function that creates a new 
column 'Weekday' in the DataFrame. The 'Weekday' column should contain the weekday name (e.g. 
Monday, Tuesday) corresponding to each date in the 'Date' column.

In [73]:
import pandas as pd
def add_weekday_column(df):    
    df['Date'] = pd.to_datetime(df['Date'])        
    df['Weekday'] = df['Date'].dt.day_name()
    return df


df =pd.DataFrame({'Date': ['2023-01-01','2023-01-02','2023-01-03','2023-01-04','2023-01-05']})
df= add_weekday_column(df)
print(df)

        Date    Weekday
0 2023-01-01     Sunday
1 2023-01-02     Monday
2 2023-01-03    Tuesday
3 2023-01-04  Wednesday
4 2023-01-05   Thursday

Q12. Given a Pandas DataFrame df with a column 'Date' that contains timestamps, write a Python 
function to select all rows where the date is between '2023-01-01' and '2023-01-31'.

In [84]:
def select_january_data(df):
    df['Date'] = pd.to_datetime(df['Date'])
    selected_data = df[(df['Date'] >= '2023-01-01') & (df['Date'] <= '2023-01-31')]    
    return selected_data
dates = pd.date_range(start='2023-01-01', end='2023-04-25')
df = pd.DataFrame({'Date': dates})
df=select_january_data(df)
print(df)

         Date
0  2023-01-01
1  2023-01-02
2  2023-01-03
3  2023-01-04
4  2023-01-05
5  2023-01-06
6  2023-01-07
7  2023-01-08
8  2023-01-09
9  2023-01-10
10 2023-01-11
11 2023-01-12
12 2023-01-13
13 2023-01-14
14 2023-01-15
15 2023-01-16
16 2023-01-17
17 2023-01-18
18 2023-01-19
19 2023-01-20
20 2023-01-21
21 2023-01-22
22 2023-01-23
23 2023-01-24
24 2023-01-25
25 2023-01-26
26 2023-01-27
27 2023-01-28
28 2023-01-29
29 2023-01-30
30 2023-01-31

Q13. To use the basic functions of pandas, what is the first and foremost necessary library that needs to 
be imported?

In [ ]:
#Ans:
import pandas as pd

This code imports the pandas library and assigns it an alias 'pd', which is a common convention in the data science community. Once the library is imported, you can use its functions and methods to manipulate and analyze data in a tabular format.